html,body{
    margin: 0;
    padding: 0;
}

#app{
    min-height: 100vh;
}

.flex{
    display: flex;
    &.horizontal-center{
        justify-content: center;
    }
    &.vertical-center{
        align-items: center;
    }
}
.flex-full{
    flex: 1;
}

.createSpace(@name,@val){
    .m-t-@{name}{margin-top: @val}
    .m-l-@{name}{margin-left: @val}
    .m-r-@{name}{margin-right: @val}
    .m-b-@{name}{margin-bottom: @val}
    .p-t-@{name}{padding-top: @val}
    .p-l-@{name}{padding-left: @val}
    .p-r-@{name}{padding-right: @val}
    .p-b-@{name}{padding-bottom: @val}
}

.createSpace(small,5px);
.createSpace(normal,10px);
.createSpace(large,15px);