html,body{
    margin: 0;
    padding: 0;
}

#app{
    min-height: 100vh;
}

.flex{
    display: flex;
    &.horizontal-center{
        justify-content: center;
    }
    &.vertical-center{
        align-items: center;
    }
}
.flex-full{
    flex: 1;
}
